<header class="flex-row">
  <a class="logo" routerLink="/" >CHICKS GOLD</a>
  <ul class="flex-row" style="flex: 3;">
    <li><a href="#">CURRENCY</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">ITEMS</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">ACCOUNTS</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SERVICES</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SWAP</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SELL</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
  </ul>
  <ul class="flex-row sign-in" style="flex: 1;" >
    <li><a href="#">USD</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">CART</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li class="btn"><a href="#">SIGN IN</a> <mat-icon>person</mat-icon> </li>
  </ul>
</header>

<div class="bg-img"><img src="../../assets/bg-image.jpg" alt=""></div>

<div class="home-container"><router-outlet></router-outlet></div>

<footer>
  <div class="sponsors">
    <!-- Loop through list of images -->
    <p>and 50+ more</p>
  </div>

  <div class="socials">
    <!-- Loop through social media list -->
  </div>

  <div class="navigation">
    <div class="container">
      <a class="logo" routerLink="/">CHICKS GOLD</a>
      <a href="#">support@chicksgold.com</a>
    </div>
    <div class="container">
      <a href="#">Chicks Gold</a>
      <a href="#">Games</a>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
      <a href="#">Sitemap</a>
    </div>
    <div class="container">
      <a href="#">Support</a>
      <a href="#">Contact Us</a>
      <a href="#">FAQ</a>
    </div>
    <div class="container">
      <a href="#">Legal</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Copyright Policy</a>
    </div>
    <div class="container">
      <p>Trustpilot Reviews</p>
    </div>
  </div>
  <p>© 2017 - 2020 Chicksgold.com. All rights Reserved</p>
</footer>