<!-- Navbar / Header -->
<header class="flex-row">
  <a class="logo" routerLink="/" >CHICKS GOLD</a>
  <mat-icon class="phone-nav">menu</mat-icon>
  <ul class="flex-row main-nav" style="flex: 2.5;">
    <li><a href="#">CURRENCY</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">ITEMS</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">ACCOUNTS</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SERVICES</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SWAP</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><a href="#">SELL</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
  </ul>
  <ul class="flex-row sign-in" style="flex: 1;" >
    <li><a href="#">USD</a> <mat-icon>keyboard_arrow_down</mat-icon> </li>
    <li><mat-icon class="shopping-cart">shopping_cart</mat-icon> <a class="cart-btn" href="#">CART (5)</a> </li>
    <li class="btn"><a href="#">SIGN IN</a> <mat-icon>person</mat-icon> </li>
  </ul>
</header>

<!-- Background Image -->
<div class="bg-img"><img src="../../assets/bg-image.jpg" alt=""></div>

<!-- Home Section -->
<div class="container">
  <div class="home-container"><router-outlet></router-outlet></div>
</div>

<!-- Footer -->
<footer>
  <div class="sponsors">
    <div class="container flex-row">
      <ul *ngIf="sponsorLogos" class="sponsor-container">
        <li *ngFor="let logo of sponsorLogos" class="sponsor-logo">
          <img class="sponsor" src="{{ logo.url }}" alt="{{ logo.name }}">
        </li>
      </ul>
      <p>and 50+ more</p>
    </div>
  </div>

  <div class="container socials">
    <ul *ngIf="socialLogos" class="social-container">
      <li *ngFor="let logo of socialLogos" class="social-logo"  [style]="logo.style">
        <img class="sponsor" src="{{ logo.url }}" alt="{{ logo.name }}">
      </li>
    </ul>
  </div>


  <div class="footer-nav container">
    <div class="footer-container">
      <p class="footer-header">CHICKS GOLD</p>
      <a href="#">support@chicksgold.com</a>
    </div>
    <div class="footer-container">
      <p class="footer-header">Chicks Gold</p>
      <a href="#">Games</a>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
      <a href="#">Sitemap</a>
    </div>
    <div class="footer-container">
      <p class="footer-header">Support</p>
      <a href="#">Contact Us</a>
      <a href="#">FAQ</a>
    </div>
    <div class="footer-container">
      <p class="footer-header">Legal</p>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Copyright Policy</a>
    </div>
    <div class="footer-container">
      <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
      <a href="#">Trustpilot Reviews</a>
    </div>
  </div>
  <p class="copyright">© 2017 - 2020 Chicksgold.com. All rights Reserved</p>
</footer>