/* Navbar */
header {
    width: 100vw; height: 5em;
    display: flex;
    background-color: var(--nav-color);
    border-bottom: 1.3px var(--blue) solid;
    align-items: center;
    justify-content: space-between;
}

.phone-nav {
    display: none;
}

li {
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.shopping-cart {
    margin-top: 0.4rem;
    font-size: medium;
}

.logo {
    min-width: 117px;
    margin: 10px 8px 10px 16px;
    padding: 10px 64px 10px 16px;
    font-size: large;
    border-right: 1px var(--white) solid;
}

.sign-in {
    min-width: 280px;
}

.btn {
    height: 2.4em;
    min-width: 88px;
    margin-left: 0.5rem;
    padding-right: 4px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
}

.btn a, .btn mat-icon {
    color: var(--nav-color);
    padding: 0 2px 0 6px;
}

.btn a {
    font-size: small;
}

.cart-btn {
    min-width: 52px;
}

/* Responsive Design */

/* Tablets and Small Laptops */
@media only screen and (max-width: 1250px) {
    .main-nav {
        display: none;
    }

    .phone-nav {
        display: flex;
        flex: 1.75;
        align-items: center;
        font-size: xx-large;
        margin-left: 1.5em;
        height: 2em;
    }
}

/* Phones */
@media only screen and (max-width: 650px) {
    .logo {
        border: none;
    }
    
    .sign-in {
        display: none;
    }

    .phone-nav {
        display: flex;
        flex: 1;
        margin-right: 1.5em;
        justify-content: flex-end;
        align-items: center;
    }

}


/* Home */
.home-container {
    margin: auto;
    min-height: 100vh;
}

.bg-img {
    z-index: -1;
    opacity: 0.2;
    width: 250%; height: 250%;
    position: absolute;
    overflow: hidden;
}

.bg-img img {
    object-fit: cover;
    height: 100%; width: 100%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
}

.sponsors {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--footer-color);
    height: 72px;
    border-top: 3px var(--nav-color) solid;
}

.sponsor-container {
    display: flex;
    padding: 0;
}

.sponsor-logo {
    padding: 4px;
    max-width: 128px; height: 32px;
}

.sponsor-logo img {
    height: 32px;
}

.sponsors p {
    color: var(--lightgray);
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}

/* Social Icons */

.social-container {
    display: flex;
    margin: 0;
    padding: 32px 0;
    border-bottom: 1px var(--blue) solid;
}

.social-logo {
    border-radius: 50%;
    width: 22px; height: 24px;
    margin: 6px 0 6px 8px;
    max-width: 128px; height: 32px;
}

.social-logo img {
    padding: 16px;
    color: var(--white);
    max-height: 16px;
    max-width: 16px;
}

/* Footer Nav */
.footer-nav {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(5, 1fr);
}

.footer-container {
    width: 6rem; height: 12rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-header {
    color: var(--white);
    padding: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: smaller;
}

.footer-container a {
    font-size: 0.8em;
    color: var(--gray);
}

.footer-container div mat-icon {
    margin: 0 0.1em;
    background-color: var(--green);
    width: 0.85rem; height: 0.85rem;
    font-size: small;
}

.copyright {
    color: var(--gray);
    margin: 3rem;
    margin-top: 0.5rem;
    text-align: center;
}