/* Color Palette */
:root {
    --nav-color: #303141;
    --bg-color: #3e3f4c;
    --card-color: #323648;
    --quantity-color: #373c51;
    --footer-color: #2b2c3b;
    --details-color: #34394d;
    --purple: #5762d5;
    --darkpurple: #454da8;
    --blue: #518da5;
    --green: #4ab07a;
    --white: white;
    --lightgray: #ababab;
    --gray: gray;
    --darkgray: #1a1a1a;
    --red: red;
}

html { height: 100%; }
body { 
    overflow-x: hidden;
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--bg-color);
    box-sizing: border-box;
}

li {
    list-style: none;
}

h3 {
    color: white;
}

a, p, .text {
    color: white;
    text-decoration: none;
    font-size: smaller;
}

mat-icon {
    color: white;
}

.flex-row {
    display: flex;
}

.container {
    margin: auto;
    width: 70%;
}

.text-small {
    font-size: 0.7em;
}

.text-big {
    font-size: small;
}