/* Home Header */
h1 {
    margin-top: 2.5em;
}

.home-nav {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
}

.nav-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1em;
    background-color: var(--bg-color-transparent);
    border-radius: 4px;
    min-width: 180px;
}

.pencil-icon {
    width: 1.8em; height: 1.8em;
}

.phone-arrow {
    display: none;
}

.nav-select p {
    font-weight: 500;
    margin-top: 1em;
    margin-left: 1.8em;
    flex: 4;
}

.nav-select mat-icon {
    font-size: 1.6em;
    padding-left: 0.2em;
    flex: 1;
    margin: 0 0.3em;
}

.nav-search-section {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 4;
    opacity: 1;
    background-color: var(--bg-color-transparent);
    border-radius: 4px;
}

.nav-search-section mat-icon {
    width: 1em; height: 1em;
    margin: auto 0;
    margin-left: 0.2em;
}

.nav-search-section .search {
    margin: auto 0;
    margin-left: 0.6em;
    color: var(--lightgray);
}

.nav-search--container {
    display: flex;
    flex: 4;
    margin-left: 0.5em;
}

.nav-search--price {
    display: flex;
    flex: 1;
    min-width: 120px;
    justify-content: space-between;
}

.nav-search-section .text {
    margin-top: 1em;
    line-height: 0.1em;
    padding: 0 0.6em;
}

.nav-search-section .text-small {
    font-size: 0.5em;
    color: var(--lightgray);
    margin-bottom: 1.4em;
}

.nav-search-section .text-big {
    color: var(--white);
}

.nav-search--items {
    display: flex;
    flex: 1;
    min-width: 120px;
    justify-content: space-between;
    margin-right: 1em;
}

.nav-search--price .text {
    flex: 2;
}

.nav-search--items .text {
    flex: 2;
}

.green {
    color: var(--green);
    padding-left: 0.4em;
    border-left: 1px var(--blue) solid;
}

/* Responsive Design */

@media only screen and (max-width: 780px) {
    .nav-search--price, .nav-search--items {
        display: none;
    }

    .search {
        flex: 4;
    }

    .phone-arrow {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding-right: 0.5em;
    }    
}

/* Main Grid */
.main-grid {
    background-color: var(--nav-color);
    border: 1px var(--blue) solid;
    border-radius: 4px;

    /* Box shadow */
    -webkit-box-shadow: 0px 0px 20px 0px var(--darkgray);
    -moz-box-shadow: 0px 0px 20px 0px var(--darkgray);
    box-shadow: 0px 0px 20px 0px var(--darkgray);

    margin-bottom: 5em;
}

/* Grid Header */
.grid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    height: 5em;
    margin: auto;
}

.grid-header .showing {
    color: var(--lightgray);
}

.grid-sort {
    min-height: 3em;
    background-color: var(--card-color);
    display: flex;
    gap: 0.6em;
    align-items: center;
}

.list-icon {
    width: 1.8em; height: 1.8em;
    padding: 0.2em;
    padding-left: 0.8em;
}

.list-icon mat-icon {
    color: var(--green);
}

.grid-sort--text {
    margin-top: 0.8em;
}

.grid-sort--text p {
    line-height: 0.1em;
}

.text-smaller {
    font-size: 0.5em;
    color: var(--lightgray);
}

.text-big {
    color: var(--white);
    font-size: 0.7em;
}

.arrow-icon {
    width: 1.8em; height: 1.8em;
    padding: 0.2em;
    padding-left: 0.8em;
}

.arrow-icon mat-icon {
    margin-top: 0.3em;
    font-size: medium;
}

/* Cards Grid */
.cards-grid {
    width: 94%;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(2em, 1fr));
    gap: 0.6rem;
}

.card {
    background-color: var(--card-color);
    border-radius: 4px;
}

/* Card Header */
.card-header {
    max-height: 3em;
    display: flex;
    margin: 0.7em;
    justify-content: space-between;
}

/* On Sale */
.green-circle--container {
    align-items: center;
    justify-content: space-evenly;
}

.green-circle {
    border-radius: 50%;
    width: 0.2em; height: 0.2em;
    background-color: var(--green);
}

.header-on-sale {
    margin: 0;
    padding: 0;
}

.green-circle--container p {
    font-size: 0.6em;
    margin-bottom: 0;
}


.in-stock {
    border-radius: 2px;
    color: var(--green);
    margin: 0;
    padding: 0 1em;
    border: 1px var(--green) solid;
}

/* Quantity */
.header-quantity {
    background-color: var(--quantity-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-quantity p {
    margin: auto;
    padding: 0.1em 1em;
    text-align: center;
}

/* Card Icon */

.card-icon {
    margin-left: 0.7em;
    object-fit: cover;
    width: 0.4rem;
}

.card-icon img {
    border-radius: 4px;
    border: 1px var(--blue) solid;
    max-width: 3.4rem;
    /* Box shadow */
    -webkit-box-shadow: 0px 0px 3px 0px var(--darkgray);
    -moz-box-shadow: 0px 0px 3px 0px var(--darkgray);
    box-shadow: 0px 0px 3px 0px var(--darkgray);
}

/* Card Title */

.card-title-container {
    margin-left: 0.8em;
    display: flex;
    justify-content: space-between;
    gap: 0.7em;
    max-height: 2em;
}

.card-title {
    font-size: small;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.game-logo img {
    margin-top: -2px;
    margin-right: 0.7em;
    max-width: 2rem;
}

/* Card Price and Description */

.card-price-container {
    margin-left: 0.8em;
    display: flex;
    gap: 0.7em;
}

.card-price {
    font-weight: 600;
}

.card-price--crossed {
    margin-left: -3px;
    font-weight: 100;
    color: var(--lightgray);
    text-decoration: line-through var(--red);
}

.description {
    color: var(--gray);
    line-height: 1.8em;
    margin-left: 1.3em;
    margin-right: 0.5em;
    font-size: 0.6em;
    font-weight: 100;
}

/* Card Footer */

.card-footer {
    margin: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-details {
    padding: 0.5em 0.9em;
    border-radius: 4px;
    background-color: var(--details-color);
    color: var(--gray);
}

.footer-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    background-color: var(--purple);
    color: var(--white);
}

.footer-add-container mat-icon {
    background-color: var(--darkpurple);
    border-radius: 4px;
    padding: 0.3em;
    margin-left: 0.2em;
    max-width: 1em; max-height: 1em;
    font-size: medium;
}

/* Cards Responsive Design */

@media only screen and (max-width: 1220px) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Cards Grid Pages */
.card-pages {
    padding: 0;
    margin: 1.4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4em; height: 2.4em;
    margin: 0.4em;
    background-color: var(--nav-color);
    border-radius: 4px;
    color: var(--white);
}

.pages-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1rem; height: 2.1rem;
    margin: 0.5em 0.6em;
    background-color: var(--nav-color);
    border-radius: 4px;
    border: 1px var(--purple) solid;
    color: var(--white);
}

.active {
    background-color: var(--purple);
}